<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Q-dai Bookshare</title>
</head>
<body>
    <h1>教科書をもらう</h1>
    <div id="search">
        <form>
            <input type="book" id="bookname" placeholder="bookname" v-model="bookname">
            <input type="book" id="authorname" placeholder="authorname" v-model="authorname" >
            <input type="button" value="検索" @click="click">
        </form>
        <ul>
            <li v-for="(book, index) in books" :value="index" @click="select">{{book[1]}}</li>
        </ul>
        <ul>
            <li v-for="(user, index) in users" :value="index" @click="bookOwner">{{user}}<button @click="requestBook" :value="index">request</button></li>
        </ul>
    </div>
    <script type="module">
        import { firebaseConfig, check, Register, Login, Logout, State } from "/js/functions.js";
        firebase.initializeApp(firebaseConfig);
        check(firebase);
        const socket = io();
        const db=firebase.firestore();

        new Vue({
            el:"#search",
            data(){
                return{
                    bookname:"",
                    authorname:"",
                    books:[],
                    selectedBook:[],
                    users:[],
                    requestedBook:[]
                }
            },
            methods:{
                click:function(){
                    const book = [];
                    const author = [];
                    for(let i=0;i<this.bookname.length-1;i++){
                        book.push(this.bookname.substr(i,2))
                    }
                    for(let i=0;i<author.length-1;i++){
                        author.push(this.authorname.substr(i,2))
                    }
                    console.log(book);
                    socket.emit("booksearch",book,author)
                },
                select: async function(e){
                    const isbn = this.books[e.target.value][0];                  
                    const bname = this.books[e.target.value][1];                  
                    const bauth = this.books[e.target.value][2];                  
                    this.users=[];
                    const snapshot = await db.collection('books').doc(isbn).collection('users').get();
                    this.selectedBook = [isbn, bname, bauth];
                    snapshot.forEach(doc=>{
                        this.users.push(doc.id);
                        console.log(doc.id);
                    })                                                
                },
                bookOwner:function(e){
                    const uid = this.users[e.target.value]; 
                    // console.log(uid);
                },
                requestBook:function(e){
                    const [uid, bid] = this.users[e.target.value].split(":");
                    const Myuid = sessionStorage.getItem('user');
                    if (Myuid && Myuid!=uid){
                        if (this.requestedBook.indexOf(uid+':'+Myuid+':'+bid)==-1){
                            socket.emit("requestBook",Myuid,uid,bid,this.selectedBook)
                            // console.log(uid)
                        }else{
                            alert('リクエスト済みの本です')
                        }
                    }else if(Myuid==uid){
                        alert('自分の本です')
                    }else{
                        alert('ログインしてください')
                    }
                }
                
            },
            mounted() {
                socket.on("bookInfo",(info)=>{
                    
                    console.log(info);
                    this.books=[];
                    for(let item in info){
                        if(info[item].value.counter>0){
                            this.books.push([info[item].key, info[item].value.bname, info[item].value.bauth])
                        }else{
                            break;
                        }                       
                    };
                    if (this.books.length==0){
                        this.books=[["検索結果は0件です","検索結果は0件です"]]
                    }
                }),
                socket.on('requestedBook',(req)=>{
                    this.requestedBook = req;
                    // alert(req)
                })
              
            },
            created : function(){
                const requestInit = async (Myuid)=>{
                    const snapshot = await db.collection('users').doc(Myuid).collection('request').get();
                    // console.log(snapshot);
                    snapshot.forEach(doc=>{
                        this.requestedBook.push(doc.id);
                    })    
                };
                if (sessionStorage.getItem('user')){
                    const Myuid = sessionStorage.getItem('user');
                    requestInit(Myuid);
                }
            }
        })
    </script>
</body>
</html>