<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/give.css">
    <title>Q-dai Bookshare</title>
    <script type="module" src="/../main.js"></script>
    <script type="text/javascript" src="https://serratus.github.io/quaggaJS/examples/js/quagga.min.js"></script>
</head>
<body>
    <div id="hoge">
        <header-tag></header-tag>
        <Navigation page="give"></Navigation>     
    </div>
    <div class="main">
        <!-- <button onClick="toggleScan()">スキャン開始/停止</button></div> -->
        
        <div id="barcode-wrapper" class="view-off">
            <p id="message">カメラ初期化中です</p>
            <canvas id="barcode-view"></canvas>
        </div>
        <div id="give-form">
            <div class="text">
                ISBN
                <button id="barcode-btn" onclick="initBarcodeScaner()">バーコードを読み取る</button>
            </div>
            <input type="text" id="isbn" maxlength="13" v-model="isbn" >
            <div class="result" v-if="result.title!='' && result.author!=''" v-cloak>
                <div class="book-info title">{{result.title}}</div>
                <div class="book-info author">{{result.author}}</div>
                <div class="book-info publisherName">{{result.publisherName}}</div>
            </div>
            <div class="book-info" v-else>本が見つかりません</div>
            <button id="givebtn" @click="give">教科書をあげる</button>
            
            
        </div>
        <div id="exprain">
            <h3>ISBNとは</h3>
            <p> 
                ISBNは、978で始まる13桁又は10桁の書籍固有の番号です。</br>
                書籍カバーの後側の上部に、ISBNが明記されています。
            </p>
            <img src="/img/ISBN1.png" alt="">
        </div>
    </div>
        <!-- <div class="text">書名</div>
            <input type="text" id="bname" v-model="bname" >
        <div class="text">著者名</div>
        <input type="text" id="bauth" v-model="bauth" > -->
        
       
    <script src="/js/isbn-camera.js"></script>
    <script type="module">
        import { firebaseConfig, check, Register, Login, Logout, State, loginCheck} from "/js/functions.js";
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        // console.log(check(firebase));
        const socket = io();
        new Vue({
            el:"#give-form",
            data(){
                return{
                    isbn:"",
                    bname:"",
                    bauth:"",
                    result:{title:"",author:"",publisherName:""}
                }
            },
            methods:{
                give: function(){
                    loginCheck(firebase).then(item=>{
                        if(item){
                        const uid=sessionStorage.getItem('user');
                        
                        if (this.isbn!="" ){
                            socket.emit("bookgive", uid,this.isbn,this.result.title,this.result.author)
                        }else{
                            alert("ISBNと書名を入力してください")
                        }
                    }else{
                       alert("ログインしていません")
                    } 
                    })
                                           
                    
                }
            },
            watch:{
                isbn: function(newval,oldval){
                    console.log(newval)
                    if(newval.length==13 || newval.length==10){
                        var vm = this;
                        const request = new XMLHttpRequest();
                        const author = encodeURI('鈴木たろう')
                        // const isbn = "9784297102111";
                        const testurl = `https://app.rakuten.co.jp/services/api/BooksBook/Search/20170404?applicationId=1007321329061508161&isbn=${this.isbn}`
                        
                        request.open('GET', testurl, true); 
                        request.onload = function() {
                            const jsonInfo = JSON.parse(this.responseText);
                            if(jsonInfo.Items[0]){
                                console.log(jsonInfo.Items[0]); //レスポンスに含まれるテキストを返す
                                vm.$set(vm.result,"title",jsonInfo.Items[0].Item.title);
                                vm.$set(vm.result,"author",jsonInfo.Items[0].Item.author );
                                vm.$set(vm.result,"publisherName",jsonInfo.Items[0].Item.publisherName );
                                // socket.emit("bookgive", uid, vm.isbn, jsonInfo.Items[0].Item.title, jsonInfo.Items[0].Item.author);
                            }else{
                                alert('nodata')
                            }
                        };
                        request.send()

                    }else{
                        this.result={title:"",author:"",publisherName:""}
                    }
                }
            },
            mounted(){
                Quagga.onDetected((result) => {
                    var code = result.codeResult.code;
                    if (code.substr(0,3)=="978"){
                        console.log(code);
                        this.isbn=code;
                    }
                });
            }
        })
    </script>
</body>
</html>