<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="/css/Mypage.css">
    <link rel="stylesheet" href="/css/Mypage-transaction.css">
    <title>Q-dai Bookshare</title>
</head>
<body>
    <!-- ロード画面 -->
    <link rel="stylesheet" href="/css/load.css">
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <script src="/js/load.js"></script>


    <div id="hoge">
        <header-tag :login="login" :name="name" :point="point"></header-tag>
        <Navigation page="mypage" :alerton="alerton"></Navigation>     
    </div>
    <div id="Mypage-container">
        <div class="component" @click="showRequest" v-if="showDetails.show==''">
            <span class="text">
                教科書をもらう
            </span>
            <span class="icon">
                <i class="las la-angle-right"></i>
            </span>
        </div>
        <div v-if="showDetails.show=='request'">
            <div class="Back" @click="Back">
                <span class="icon">
                    <i class="las la-angle-left"></i>
                </span>
                <span class="text">
                    戻る
                </span>
            </div>
            <request></request>
        </div>
    
        <div class="component" @click="showRequire" v-if="showDetails.show==''">
            <span class="text">
                教科書をあげる
            </span>
            <span class="icon">
                <i class="las la-angle-right"></i>
            </span>
        </div>
        <div v-if="showDetails.show=='require'">
            <div class="Back" @click="Back">
                <span class="icon">
                    <i class="las la-angle-left"></i>
                </span>
                <span class="text">
                    戻る
                </span>
            </div>
            <require></require>
        </div>

        <div class="component" @click="showBook" v-if="showDetails.show==''">
            <span class="text">
                自分の本
            </span>
            <span class="icon">
                <i class="las la-angle-right"></i>
            </span>
        </div>
        <div v-if="showDetails.show=='book'">
            <div class="Back" @click="Back">
                <span class="icon">
                    <i class="las la-angle-left"></i>
                </span>
                <span class="text">
                    戻る
                </span>
            </div>
            <mybook></mybook>
        </div>
    </div>

    
  
    <script type="module">
        import { firebaseConfig, check, Register, Login, Logout, State, loginCheck, xss} from "/js/functions.js";
        firebase.initializeApp(firebaseConfig);
        
        const socket = io();
        const db=firebase.firestore();
        
         //コンポーネント
        const request = {
            template: 
            `<div>
            
            <div class="main-container">
            
                <div class="list-container" :class="{'hide':detail.length!=0}">   
                    
                    <ul>
                        <li class="booklist" v-for="(neg, index) in negRequests" @click="toDetail(neg)">
                            <span class="bookname">
                                {{neg[1]+"　"}}
                                <i class="las la-book-open"></i> 
                                {{neg[2]}}
                            </span>
                            <i class="right-allow las la-angle-right"></i>
                        </li>
                    </ul>
             
                </div>
                <div class="detail-container" :class="{'hide': detail.length==0}">
                    <div v-if="detail.length!=0 && chatId==0">
                        <div @click="leaveDetail" class="leave-chat">
                            <span class="icon">
                                <i class="las la-angle-left"></i>
                            </span>
                            <span class="text">
                                一覧へ戻る
                            </span>
                        </div>
                        <ul>
                            <li>
                                {{detail[1]}}
                            </li>
                            <li>
                                <i class="las la-book-open"></i>    
                                {{detail[2]}}
                                <i class="las la-user-edit"></i>
                                {{detail[3]}}
                            </li>
                            <li>
                                <h4>
                                    受け取り場所
                                </h4>
                                {{detail[4]}}
                            </li>
                            <li>
                                <h4>
                                    詳細
                                </h4>
                                {{detail[5]}}
                            </li>
                           
                        </ul>
                        <button class="toChat btn" @click="toChat(detail)" :value="detail">
                            <i class="las la-comments"></i>
                            チャット
                        </button>
                        <button class="getComplete btn" v-on:click="getComplete(detail[0])">
                            <i class="las la-user-check"></i>
                            受け取りを完了
                        </button>
                        
               
                    </div>
                    <div v-if="detail.length==0 ">
                        選択されていません
                    </div>
                    <div class="chat-container"  v-if="chatId!=0" >
                        <div @click="leaveChat" class="leave-chat">
                            <span>
                                <i class="las la-angle-left"></i>
                            </span>
                            <span>
                                {{chatRoomName}}
                            </span>
                        </div>
                        <ul class="chat-view" ref="chatview">
                            <li v-for="(chat, index) in viewChat"  class="msg" >
                                <div :class="[chat.uid==Myuid ? 'I' : 'You']">    
                                    <span class="AlreadyRead" v-if="chat.time<readtime[chatId]">既読</span>
                                    <span class="msg-span">{{chat.msg}}</span>
                                </div>
                            </li>
                        </ul>
                        <div ref="chatBottom"></div>
                        </div>
                        <div class='send-form' v-if="chatId!=0">
                            <input type="text" v-model="msg">
                            <button @click="send">
                                <i class="las la-paper-plane"></i>
                            </button>
                        </div>
                   
                </div>
            </div>

            </div>`,
            data(){
                return{
                    negRequests:[],
                    chatHist:{},
                    readtime:{},
                    chatId:0,
                    msg:'',
                    onSnapshot:[],
                    viewChat:[],
                    showList:{show:'req'},
                    chatRoomName:'',
                    Myuid:'',
                    detail:[]
                }
            },
            methods:{
                toDetail:function(detail){
                    this.detail=detail;
                    this.chatId=0;
                    console.log(detail)
                },
                
                getComplete:function(item){
                    const negBook =item;
                    const uid = sessionStorage.getItem('user');
                    loginCheck(firebase).then(item=>{
                        if (item && window.confirm("受け取りを完了しましたか?")){
                            socket.emit('getCompleteBook',uid,negBook)        
                        }
                    })
                },
                cancel: function(e){
                    const cancelBook = e.target.value;
                    const uid = sessionStorage.getItem('user');
                    if (uid){
                        socket.emit('cancelBook',uid,cancelBook)        
                    }
                },
                toChat: async function(item){
                    this.Myuid=sessionStorage.getItem('user');
                    const ID = item[0];
                    this.chatId = item[0]; 
                    this.chatRoomName =  item[1]+"さん:"+item[2];
                    
                    const uid = sessionStorage.getItem('user');
                    if (this.onSnapshot.indexOf(ID)==-1){
                        this.chatHist[ID]=[];
                        this.viewChat = [];
                        this.onSnapshot.push(ID);
                        db.collection("chat")
                        .doc(ID)
                        .collection('msg')
                        .orderBy("time")
                        .onSnapshot(async(snapshot)=>{
                            if(this.chatId!=0){

                                socket.emit("chatAlreadyRead",this.chatId,uid)
                                console.log(this.chatId)
                            }
                           
                            await snapshot.docChanges().forEach((change) => {
                                
                                const pushdata = change.doc.data();
                                this.chatHist[ID].push(pushdata);
                                          
                            });
                            if (this.readtime[ID]){
                                this.readtime[ID]=1
                            }  
                            this.viewChat=this.chatHist[ID];  
                            //scroll               
                            this.scroll()                       
                        })


                        db.collection("chat")
                        .doc(ID)
                        .collection('read')
                        .onSnapshot(async(snapshot)=>{
                            if(this.chatId!=0){
                                await snapshot.docChanges().forEach((change) => {
                                    const oLastRead=change.doc.data()[this.chatId.split(':')[0]];             
                                    const negLastRead=change.doc.data()[this.chatId.split(':')[1]];
                                    this.$set(this.readtime,ID,oLastRead)
                                    console.log(this.readtime)
                                })
                            } 
                                                  
                        })   
                        // console.log(this.chatId)                                                               
                    } else if(this.onSnapshot.indexOf( item[0])!=-1){
                        this.viewChat=this.chatHist[this.chatId];
                        socket.emit("chatAlreadyRead",this.chatId,uid);
                       
                    }    
                            
                },
                send:function(e){
                    const uid = sessionStorage.getItem('user');
                    if (this.msg!=""){
                        this.msg=xss(this.msg);
                        socket.emit('chatMsg', this.msg, this.chatId, uid)
                        this.msg='';
                    }
                },
                leaveChat:function(){
                    this.chatId=0;
                },
                leaveDetail:function(){
                    this.detail=[];
                },
                scroll:function(){
                    let scrollEL = this.$refs.chatBottom;
                    console.log(scrollEL);
                    scrollEL.scrollIntoView();
                    
                }
            },
      
           mounted: function(){
           
            const negRequestInit = (uid)=>{
                db.collection('users')
                .doc(uid).collection('negRequest')
                .onSnapshot((snapshot)=>{
                    snapshot.docChanges().forEach( async (change) => {
                        let name = "";
                        let bname = "";
                        let bauth = "";
                        let detail = "";
                        let region = "";
                        const [ouid,neguid,bid] = change.doc.id.split(':');
                        let matchIndex = -1;
                        this.negRequests.forEach((req,index)=>{
                            if(req[0]==change.doc.id){
                                matchIndex=index;
                            }
                        })
                        if (matchIndex==-1){
                            let isbn = change.doc.data().isbn;
                            await db.collection('books').doc(isbn).collection('users').doc(ouid+':'+bid).get().then((namedoc)=>{
    
                                name = namedoc.data().name;
                                detail = namedoc.data().detail;
                                region = namedoc.data().region;
                            });
                            await db.collection('bookInfo').doc(bid).get().then((bookdoc)=>{
                                bname = bookdoc.data().bname
                                bauth = bookdoc.data().bauth
                            });
                            const cvtNegRequest = this.negRequests.map(x=>JSON.stringify(x))
                            this.negRequests.push([change.doc.id, name, bname, bauth, region, detail]);
                        }else{
                            this.negRequests.splice(matchIndex,1)
                            if(this.detail[0]==change.doc.id){
                                this.detail=[];
                                this.chatId=0
                            }
                        }

                    });
                });
                
            }            
                    
               const uid = sessionStorage.getItem('user');
               loginCheck(firebase).then(item=>{
                    if(item){
                  
                    negRequestInit(uid)
                    }
               })
           }  
        }
        
        const require = {
            template: 
            `<div>
            
            <div class="main-container">
            
                <div class="list-container" :class="{'hide':detail.length!=0}">   
                    
                    <ul>
                        <li class="booklist" v-for="(neg, index) in negRequires" @click="toDetail(neg)">
                            <span class="bookname">
                                {{neg[1]+"　"}}
                                <i class="las la-book-open"></i> 
                                {{neg[2]}}
                            </span>
                            <i class="right-allow las la-angle-right"></i>
                        </li>
                    </ul>
             
                </div>
                <div class="detail-container" :class="{'hide': detail.length==0}">
                    <div v-if="detail.length!=0 && chatId==0">
                        <div @click="leaveDetail" class="leave-chat">
                            <span class="icon">
                                <i class="las la-angle-left"></i>
                            </span>
                            <span class="text">
                                一覧へ戻る
                            </span>
                        </div>
                        <ul>
                            <li>
                                {{detail[1]}}
                            </li>
                            <li>
                                <i class="las la-book-open"></i>    
                                {{detail[2]}}
                                <i class="las la-user-edit"></i>
                                {{detail[3]}}
                            </li>
                            <li>
                                <h4>
                                    受け取り場所
                                </h4>
                                {{detail[4]}}
                            </li>
                            <li>
                                <h4>
                                    詳細
                                </h4>
                                {{detail[5]}}
                            </li>
                        </ul>
                       
                        <button class="toChat btn" @click="toChat(detail)" :value="detail">
                            <i class="las la-comments"></i>
                            チャット
                        </button>
                        
                        <button class="cancel btn" v-on:click="negReject(detail[0])">
                            <i class="las la-user-check"></i>
                            キャンセル
                        </button>
                      
               
                    </div>
                    <div v-else>
                        選択されていません
                    </div>
                    <div class="chat-container"  v-if="chatId!=0" >
                        <div @click="leaveChat" class="leave-chat">
                            <span>
                                <i class="las la-angle-left"></i>
                            </span>
                            <span>
                                {{chatRoomName}}
                            </span>
                        </div>
                        <ul class="chat-view" ref="chatview">
                            <li v-for="(chat, index) in viewChat"  class="msg" >
                                <div :class="[chat.uid==Myuid ? 'I' : 'You']">    
                                    <span class="AlreadyRead" v-if="chat.time<readtime[chatId]">既読</span>
                                    <span class="msg-span">{{chat.msg}}</span>
                                </div>
                            </li>
                        </ul>
                        <div ref="chatBottom"></div>
                        <div class='send-form' >
                            <input type="text" v-model="msg">
                            <button @click="send">
                                <i class="las la-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                   
                </div>
            </div>
            </div>`,
            data(){
                return{
                    negRequires:[],
                    chatHist:{},
                    readtime:{},
                    chatId:0,
                    msg:'',
                    onSnapshot:[],
                    viewChat:[],
                    showList:{show:'req'},
                    chatRoomName:'',
                    Myuid:'',
                    detail:[]
                    
                }
            },
            methods:{
                toDetail:function(detail){
                    this.detail=detail;
                    this.chatId=0;
                    console.log(detail)
                },
                negReject: function(item){
                    const rejectBook = item;
                    const uid = sessionStorage.getItem('user');
                    socket.emit('negRejectBook',uid,rejectBook)           
                },           
                toChat: async function(item){
                    this.Myuid=sessionStorage.getItem('user');
                    const ID = item[0];
                    this.chatId = item[0]; 
                    this.chatRoomName =  item[1]+"さん:"+item[2];
                    const uid = sessionStorage.getItem('user');
                    if (this.onSnapshot.indexOf(ID)==-1){
                        this.chatHist[ID]=[];
                        this.viewChat = [];
                        this.onSnapshot.push(ID);
                        db.collection("chat")
                        .doc(ID)
                        .collection('msg')
                        .orderBy("time")
                        .onSnapshot(async(snapshot)=>{
                            if(this.chatId!=0){
                                socket.emit("chatAlreadyRead",this.chatId,uid)
                                console.log(this.chatId)

                            }
                          
                            
                            await snapshot.docChanges().forEach((change) => {
                                
                                const pushdata = change.doc.data();
                                this.chatHist[ID].push(pushdata);
                                this.$refs.chatview.scrollIntoView(false)
                                
                            });
                            if (this.readtime[ID]){
                                this.readtime[ID]=1
                            }
                            const scrollEL = this.$refs.chatBottom;
                            scrollEL.scrollIntoView();
                            this.viewChat=this.chatHist[ID];
                          
                        })


                        db.collection("chat")
                        .doc(ID)
                        .collection('read')
                        .onSnapshot(async(snapshot)=>{
                            if(this.chatId!=0){
                                await snapshot.docChanges().forEach((change) => {
                                    const oLastRead=change.doc.data()[this.chatId.split(':')[0]];             
                                    const negLastRead=change.doc.data()[this.chatId.split(':')[1]];
                                    this.$set(this.readtime,ID,negLastRead)
                                    console.log(this.readtime)
                                })
                            } 
                                                  
                        })   
                        // console.log(this.chatId)                                                               
                    } else if(this.onSnapshot.indexOf( item[0])!=-1){
                        this.viewChat=this.chatHist[this.chatId]
                        socket.emit("chatAlreadyRead",this.chatId,uid)
                    }       
                    
                    
                },
                send:function(e){
                    const uid = sessionStorage.getItem('user');
                    if (this.msg!=""){
                        this.msg=xss(this.msg);
                        socket.emit('chatMsg', this.msg, this.chatId, uid)
                        this.msg='';
                    }
                },
                leaveChat:function(){
                    this.chatId=0;
                },
                leaveDetail:function(){
                    this.detail=[];
                },
                scroll:function(){
                    const scrollEL = this.$refs.chatBottom;
                    scrollEL.scrollIntoView();
                    
                }
            },
            mounted: function(){
                     
            const negRequireInit = (uid)=>{
                db.collection('users')
                .doc(uid).collection('negRequire')
                .onSnapshot((snapshot)=>{
                    snapshot.docChanges().forEach( async (change) => {
                        let name = "";
                        let bname = "";
                        let bauth = "";
                        let detail = "";
                        let region = "";
                        const [ouid,neguid,bid] = change.doc.id.split(':');
                        let matchIndex = -1;
                        this.negRequires.forEach((req,index)=>{
                            if(req[0]==change.doc.id){
                                matchIndex=index;
                            }
                        })
                        if (matchIndex==-1){
                            let isbn = change.doc.data().isbn;
                            await db.collection('books').doc(isbn).collection('users').doc(ouid+':'+bid).get().then((namedoc)=>{
    
                                name = namedoc.data().name;
                                detail = namedoc.data().detail;
                                region = namedoc.data().region;
                            });
                            await db.collection('bookInfo').doc(bid).get().then((bookdoc)=>{
                                bname = bookdoc.data().bname
                                bauth = bookdoc.data().bauth
                            });
                            const cvtNegRequire = this.negRequires.map(x=>JSON.stringify(x))
                            this.negRequires.push([change.doc.id, name, bname, bauth, region, detail]);
                        }else{
                            this.negRequires.splice(matchIndex,1)
                            if(this.detail[0]==change.doc.id){
                                this.detail=[];
                                this.chatId=0
                            }
                        }
                    });
                });
                
            }             
            const uid = sessionStorage.getItem('user');
            loginCheck(firebase).then(item=>{
                if(item){
                    negRequireInit(uid)
                }
            })
               
           }  
        }
        
        const MyBook = {
            template:
            `<div id="have">
                <h2>持っている教科書</h2>
                <ul>
                    <li v-for="(book) in books">{{book}}</li>
                </ul>
            </div>
            `,
            data(){
                return{
                    books:[]
                }
            },
            mounted(){
                loginCheck(firebase).then(item=>{
                    if(item){
                        const uid = sessionStorage.getItem('user');
                        db.collection('bookInfo')
                        .where('uid','==',uid)
                        .onSnapshot((snapshot)=>{
                            snapshot.docChanges().forEach((change) => {
                                
                                if(this.books.indexOf(change.doc.id)==-1){
                                    this.books.unshift(change.doc.id);
                                }else{
                                    this.books.splice(this.books.indexOf(change.doc.id),1);
                                }
                                                            
                            });
                        
                        }) 
                    }
                })
            }
        }

        new Vue({
            el:'#Mypage-container',
            components:{
                'request':request,
                'require':require,
                'mybook':MyBook
            },
            data(){
                return{
                    showDetails:{show:''}
                }
            },
            methods:{
                showRequest: function(){
                    if (this.showDetails.show=="request"){
                        this.$set(this.showDetails,'show',"");
                    }else{
                        this.$set(this.showDetails,'show',"request");
                    }
                },
                showRequire: function(){
                    if (this.showDetails.show=="require"){
                        this.$set(this.showDetails,'show',"");
                    }else{
                        this.$set(this.showDetails,'show',"require");
                    }
                },
                showBook: function(){
                    if (this.showDetails.show=="book"){
                        this.$set(this.showDetails,'show',"");
                    }else{
                        this.$set(this.showDetails,'show',"book");
                    }
                },
                Back: function(){             
                    this.$set(this.showDetails,'show',"");
                },
            }   
        })
    

    </script>
    <script type="module" src="/../main.js"></script>
</body>
</html>