body {  font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
ul{
    list-style: none;
}
#alert-container {
    margin-top: 100px;
}
#alert-container li{
    height: 40px;
    text-align: center;
}
.alertTime{
   
}