body {font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }

[v-cloak]{
    display: none;
}

#give-form{
    margin-top: 50px;
}
#give-form h1{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin-top: 80px;
}
#give-form .text{
    text-align: center;
    font-size: 20px;  
}
#give-form input{
    display: block;
    text-align: center;
    margin: 10px auto;
    width: 60%;
    max-width: 500px;
    height: 30px;
    font-size: 18px;  
    border: none;
    border-bottom:solid 2px #cfcdcd;
    border-radius: 5px;
}
#give-form #givebtn{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    max-width: 500px;
    height: 40px;
    font-size: 18px;  
    border-radius: 5px;
    border: none;
    background-color: #3aa3ff;
    margin-top: 50px;
}
#give-form #givebtn:hover{
    cursor: pointer;
    opacity: 0.7;
}
.book-info{
    text-align: center;
}


/* バーコードカメラ */
.view-off{
    display: none;
}
#barcode-wrapper{
    visibility: hidden; 
    margin-top: 40px;
}
#barcode-wrapper p{
    text-align: center;
}
#barcode-view{
    display: block;
    margin: 0 auto;
}
#barcode-btn{
    border: none;
    border-radius: 5px;
    height: 30px;
    background-color: rgb(226, 226, 226);
}
#barcode-btn:hover{
    cursor: pointer;
}
#barcode-btn i{
    font-size: 1.5em;
}


/* exprain */
#exprain{
    padding: 40px;
}
#exprain img{
    width: 100%;
    max-width: 400px;
}


@media (min-width:800px){
    .main{
        display: flex;
    }
    #give-form{
        margin-top: 50px;
        width: 60%;
    }

}
