body {font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }

[v-cloak]{
    display: none;
}

#give-form{
    margin-top: 50px;
}
#give-form h1{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin-top: 80px;
}
#give-form .text{
    text-align: center;
    font-size: 20px;  
}
#give-form input{
    display: block;
    text-align: center;
    margin: 10px auto;
    width: 60%;
    max-width: 500px;
    height: 30px;
    font-size: 18px;  
    border: none;
    border-bottom:solid 2px #cfcdcd;
    border-radius: 5px;
}
#givebtn{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    max-width: 500px;
    height: 40px;
    font-size: 18px;  
    border-radius: 5px;
    border: none;
    background-color: #3aa3ff;
    margin-top: 50px;
}
#givebtn:hover{
    cursor: pointer;
    opacity: 0.7;
}
.book-info{
    position: relative;
    text-align: center;
    height: 30px;
    border-bottom:#929292 solid 2px;
    width: 80%;
    margin: 20px auto;
}
.book-info .las{
    position: absolute;
    left: 10px;
    font-size: 1.5em;
}


#noBookData h4{
    text-align: center;
}


/* バーコードカメラ */
.view-off{
    display: none;
}
#barcode-wrapper{
    margin-top: 40px;
    visibility: hidden; 
    z-index: 11;
}

#barcode-wrapper .las{
    display: none;
    transition: all 0.5s;
}
#barcode-wrapper p{
    text-align: center;
}

#barcode-view{
    display: block;
    margin: 0 auto;
}
#barcode-btn{
    border: none;
    border-radius: 5px;
    height: 30px;
    background-color: rgb(226, 226, 226);
}
#barcode-btn:hover{
    cursor: pointer;
}
#barcode-btn i{
    font-size: 1.5em;
}


/* exprain */
#exprain{
    padding: 40px;
    
}
#exprain img{
    width: 100%;
    max-width: 400px;
}

/* listing */
.listing{
    padding: 30px;
}


.listing textarea{
    width: 70%;
    font-size: 15px;
}

@keyframes barcode_arrow{
    0% {left: 0;}
    50% {left:95%; rotate: 0deg;}
    50.01% {left:95%; rotate: 180deg;}
    99.99% {left:0; rotate: 180deg; opacity: 100;}
    100% {opacity: 0;}
}
@media (min-width:800px){
    #main{
        display: flex;
    }
    #barcode-wrapper{
        position: fixed;
        left: 0;
        bottom: 0;
        margin: 20px;
    }
    #barcode-wrapper div{
        position: relative;
    }
    #barcode-wrapper:hover .las{
        position: absolute;
        top: -25px;
        display: block;
        font-size: 1.4em;
        color: #1a93fd;
        animation: barcode_arrow 2.5s forwards;
    }
 
    #give-form{
        margin-top: 50px;
        width: 50%;      
    }
    .listing{
        margin-top: 50px;
        width: 50%;
    }

}
