.spinner {
    position: absolute;
    margin: auto;
    width: 70px;
    text-align: center;
    top: 50%;
    left: calc(50% - 35px);
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgb(255, 255, 255);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }


  .loaded {
    opacity: 0;
    visibility: hidden;
  }

/* ローディング画面 */
#loading {
    width: 100%;
    height: 100%;
    transition: all 1s;
    background-color: rgb(100, 216, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}