#Mypage-container .Back{
    position: absolute;
    width: 120px;
    height: 40px;
    top: -80px;
    font-size: 20px;
    line-height: 40px;

}
#Mypage-container .Back .text{
    font-size: 15px;
    height: 28px;
   

}
#Mypage-container .Back:hover{
    cursor: pointer;
    opacity: 0.6;
}


#Mypage-container .booklist{
    position: relative;
    display: flex;
    height: 40px;
    border-bottom: #777676 1px solid ;
    margin-top: 10px;
}
#Mypage-container .booklist:hover{
    cursor: pointer;
    opacity: 0.7;
}
#Mypage-container .booklist .right-allow{
    position: absolute;
    right: 20px;
    line-height: 40px;
    font-size: 1.5em;
}


#Mypage-container .bookname{
    position: absolute;
    font-size: 15px;
    left: 0;
    line-height: 40px;
}
#Mypage-container .bookname .las{
    font-size: 1.2em;  
}

#Mypage-container .btn{
    display: block;
    width: 80%;
    height: 40px;
    border: none;
    font-size: 20px;
    line-height: 40px;
    padding: 0;
    border-radius:5px;
    color: #f9f9f9;
    margin: 30px auto;
}
.toChat{
    background-color: #51acfb;
}
.getComplete{
    background-color: #ff5e5e;
}
.cancel{
    background-color: #ff5e5e;
}
#Mypage-container .btn:hover{
    cursor: pointer;
    opacity: 0.7;
}






/* chat */
:root {
    --chat-maxWidth:800px;
}
#Mypage-container .btn-container i{
    display: block;
    margin-top: 10px;
    pointer-events: none;
    font-size: 1.5em;
    aspect-ratio: 1/1;
    width: 30px;
    border-radius: 50px;
    line-height: 30px;
}


#Mypage-container .chat-container{
    position: fixed;
    overflow: scroll;
    max-width: var(--chat-maxWidth);
    width: 100%;
    /* height: calc(100% - 200px); */
    top: 200px; 
    left: 0;
    bottom: 0;
    background-color: #d3f5fd;
    z-index: 5;
}

.hide{
    display: none;
}
#Mypage-container .send-form{
    position: fixed;
    bottom: 10px;
    width: 100%;
    max-width: var(--chat-maxWidth);
    height: 30px;
    z-index: 11;
}
.list-container{
    padding: 0 20px;
}
.detail-container{
    position: fixed;
    overflow: scroll;
    top: 200px;
    width: 100%;
    height: calc(100% - 200px);
    bottom: 0px;
    padding-top: 40px;
   
}


@media (min-width:800px){

    
    .list-container{
        position: fixed;
        overflow: scroll;
        top: 200px;
        width: 45%;
        height: calc(100% - 218px);
        bottom: 0px;
    }
    
    .detail-container{
        position: fixed;
        overflow: scroll;
        width: 50%;
        top: 200px;
        left: 50%;
        height: calc(100% - 200px);
        bottom: 0px;
        padding-top: 40px;
    
    }
    #Mypage-container .chat-container{
        position: fixed;
        overflow: scroll;
        width: 50%;
        left: 50%;
        height: calc(100% - 200px);
        bottom: 0px;
        background-color: #d3f5fd;
        z-index: 5;
        padding-bottom: 50px;
    }
    .hide{
        display: block;
    }
    #Mypage-container .send-form{
       
        width: 50%;
        left: 50%;
        max-width: var(--chat-maxWidth);
        height: 30px;
    }
}
#Mypage-container .chat-container .chat-view{
    background-color: transparent;
    margin-bottom: 30px;
    padding-bottom: 11px;
    padding-top: 20px;
}

#Mypage-container .leave-chat{
    position: fixed;
    top: 200px;
    width: 100%;
    max-width: var(--chat-maxWidth);
    height: 30px;
    background-color: #ffffff;
    z-index: 100;
}
#Mypage-container .leave-chat:hover{
    cursor: pointer;
    opacity: 0.6;
}

#Mypage-container .chat-container .msg{
    position: relative;
    padding: 10px;
    margin: 5px 0;
}
#Mypage-container .chat-container .msg .msg-span{
    display: inline-block;
    font-size: 12px;
    padding: 7px;
    border-radius: 8px;
}
#Mypage-container .chat-container .I{
    text-align: right;
    margin: 0 40px 0 auto;
    width: 40%;
}
#Mypage-container .chat-container .I .msg-span{
    background-color: #7afea0;
}
#Mypage-container .chat-container .You .msg-span{
    background-color: #ffffff;
}
#Mypage-container .chat-container .I .AlreadyRead{
    background-color: transparent;
    font-size: 8px;
}
#Mypage-container .chat-container .You .AlreadyRead{
   display: none;
}

#Mypage-container .chat-container .I::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: 42px;
    bottom: 30%;
    border-left: 8px solid #7afea0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
#Mypage-container .chat-container .You{
    width: 40%;
}

#Mypage-container .chat-container .You::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 3px;
    bottom: 30%;
    border-right: 8px solid #ffffff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }




#Mypage-container .send-form input{
    width: 70%;
    height: 20px;
    font-size: 16px;
    margin-left: 5%;
    border: none;
    border-bottom: solid 1px #777676;
}
#Mypage-container .send-form button{
   position: absolute;
   width: 40px;
   height: 25px;
   top: 1px;
   left: 83%;
   background-color: #51acfb;
   border: none;
   border-radius: 8px;
   text-align: center;
}
#Mypage-container .send-form button:hover{
   cursor: pointer;
   opacity: 0.6;
}
#Mypage-container .send-form button i{
   font-size: 2em;
   color: #fcfcfc;
}

