body {  font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }

ul{
    list-style: none;
}
#Mypage-container{
    position: relative;
    margin-top: 100px;
}


#Mypage-container .component{
    position: relative;
    height: 50px;
}
#Mypage-container .component:hover{
    background-color: #b6b8b9;
    cursor: pointer;
}
#Mypage-container .component .text{
    position: absolute;
    font-size: 20px;
    line-height: 50px;
    left: 30px;
}
#Mypage-container .component .icon{
    position: absolute;
    font-size: 1.5em;
    line-height: 50px;
    right: 50px;
}



