html{
    background-color: rgb(61, 60, 60);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    font-weight: normal;
    color: aliceblue;
}
#registerform{
    margin-top: 100px;
}
.text{
    text-align: center;
    margin:  0 auto;
    font-size: 20px;
    color: aliceblue;
}
input{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 40px;
    font-size: 17px;
    max-width: 600px;
    border: none;
    border-radius: 5px;
    border:  solid 2px #a5a3a3;
}
#register{
    display: block;
    margin: 20px auto;
    width: 90%;
    height: 40px;
    font-size: 17px;
    max-width: 600px;
    border: none;
    border-radius: 5px;
    background-color:rgb(253, 132, 132);
}
#register:hover{
    cursor: pointer;
    opacity: 0.7;
}